/* For overall Styling */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body{
	background: #014069;
}

h1{
	text-align: center;
	color: #8BBCD7;
	font-weight: bold;
	text-shadow: 2px 2px #1A1F21;
}

#contactinfo h2 {
	text-align: center;
}

#contactinfo p{
	text-align: center;
}

#contactinfo{
	background: #C6C8CA;
}

#projtitle{
	text-align: center;
	font-weight: bold;
	font-size: 250%;
}

#commtitle{
	color: black;
}

#slidepics{
	width:100%;
	height:100%;
}

.well-sm{
	background: #a8a8a8;
	margin-top: 30px;
}

#time{
	float: right;
}

#commtext{
	padding-left: 20px;
}

#subtitle{
	text-align: center;
	color: white;
}

#projdesc{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 150%;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 80%; 
    height: 800px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	background: #013F67;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#projImg{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 20px;
	padding-bottom: 50px;
}

#formdiv{
	background: #222222;
}

#navbar,
#navbar ul,
#navbar ul li,
#navbar ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: 'Ubuntu Condensed', sans-serif;
}
#navbar {
  width: auto;
  height: 59px;
  padding-bottom: 0px;
}
#navbar.align-right {
  float: right;
}
#navbar.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#navbar.align-right ul li:first-child,
#navbar.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#navbar #bg-one,
#navbar #bg-two,
#navbar #bg-three,
#navbar #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#navbar #bg-one {
  height: 10px;
  background: #013F67;
}
#navbar #bg-two {
  height: 59px;
  z-index: 2;
  background: url('bg.png');
}
#navbar #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}

#navbar ul {
  height: 59px;
}
#navbar ul li {
  float: left;
  margin-right: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#navbar ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #0277B6;
  font-size: 18px;
  text-decoration: none;
}
#navbar ul li:first-child,
#navbar ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
#navbar ul li:hover{
  background: #0277B6;
  background: -moz-linear-gradient(top, #204153 0%, #0277B6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #204153), color-stop(100%, #0277B6));
  background: -webkit-linear-gradient(top, #204153 0%, #0277B6 100%);
  background: -o-linear-gradient(top, #204153 0%, #0277B6 100%);
  background: -ms-linear-gradient(top, #204153 0%, #0277B6 100%);
  background: linear-gradient(to bottom, #204153 0%, #0277B6 100%);
}

#navbar ul li a:hover,
#navbar ul li.active > a {
  background: url('bg.png');
  color: #ffffff;
}
